@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Manrope_Bold";
    src: url("/fonts/Manrope-Bold.ttf");
}

@font-face {
    font-family: "Manrope_Medium";
    src: url("/fonts/Manrope-Medium.ttf");
}
@font-face {
    font-family: "Manrope_ExtraBold";
    src: url("/fonts/Manrope-ExtraBold.ttf");
}